<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/88f6afdf-34b2-4cef-b408-e6199f24f552/resourceGroups/SI220/providers/Microsoft.Web/sites/WebPeopleAsin</ResourceId>
    <ResourceGroup>SI220</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://webpeopleasin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>webpeopleasin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebPeopleAsin</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>a2020113511@estudiantes.upsa.edu.bo</UserName>
    <_SavePWD>True</_SavePWD>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net5.0</TargetFramework>
    <ProjectGuid>43d939f8-c64f-4fbc-9e39-a4dad0e4b2b3</ProjectGuid>
    <SelfContained>false</SelfContained>
    <RemoteSitePhysicalPath />
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>